body {
    background: #f6f6fa;
 padding: 40px 40px 40px 40px;
 font-family: "Montserrat", sans-serif;

}

ul, ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*wrapper*/
.wrapper {
background:    #ffffff;
display: flex;
flex-direction:  row-reverse;
width: 1200px;
margin: 0 auto;
}

/*main-content*/
.main-content {
padding-left: 88px;
padding-top: 80px;
padding-right: 40px;
padding-bottom: 80px;
box-sizing: border-box;
}

/*sidebar*/
.sidebar {
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}
/*contacts*/
.sidebar-content {
    padding-left: 40px;
    padding-top: 40px; 
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px; 
    margin-bottom: 8px ;
}

.contacts-type {
font-weight: 700;
font-size: 14px;
line-height: 171%;
color: #161d2a;
margin-right: 8px;
}

.contacts-link {
text-decoration: underline;
color: #2979ff;
font-weight: 400;
font-size: 14px;
line-height: 171%;
}

.contacts-item {
margin-top: 0px;
margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/*skills-container*/
.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    font-weight: 700;
    font-size: 22px;
    line-height: normal;
    color: #161d2a;
    margin-top: 0px;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #161d2a;
}

.soft-skills-container {
    margin-bottom: 40px;
}

.soft-skills-title {
    font-weight: 700;
    font-size: 22px;
    line-height: normal;
    color: #161d2a;
    margin-top: 0px;
    margin-bottom: 8px;
}

.soft-skills-list {
    padding-left: 16px;
}

.soft-skills-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #161d2a;
}

/*main content*/
.my-profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 121%;
    color: #000; 
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name {
font-weight: 700;
font-size: 45px;
line-height: 122%;
color: #000;
margin-top: 0px;
margin-bottom: 12px;
}

.my-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #595959;
}

.my-info {
    margin-bottom: 40px;
}

/*my projects*/
.my-ptojects-title {
font-weight: 700;
font-size: 22px;
line-height: 123%;
color: #000;
margin-top: 0px;
margin-bottom: 8px;
}

.my-projects-item {
font-weight: 700;
font-size: 14px;
line-height: 171%;
color: #000;
}

.my-ptojects-list {
    padding-left: 16px;
}

.my-projects-item-link {
font-weight: 400;
font-size: 14px;
line-height: 171%;
text-decoration: underline;
color: #005fff;
}

.my-projects-item-tech {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #595959;
}

.my-ptojects-container {
    margin-bottom: 40px;
}

/*work experience*/
.work-experience-titel {
    font-weight: 700;
    font-size: 22px;
    line-height: 123%;
    color: #000;
    margin-top: 0px;
    margin-bottom: 8px;
}
.work-experience-company {
font-weight: 700;
font-size: 16px;
line-height: 125%;
color: #000;
margin-top: 0px;
margin-bottom: 12px;
}

.company-name {
    color: #6d9bf5;
}

.work-experience-period {
font-weight: 400;
font-size: 12px;
line-height: 125%;
color: #a8a8a8;
margin-bottom: 8px;

}
.work-experience-period-separator {
color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #595959;
}

.work-experience-container {
    margin-bottom: 12px;
}

/*education*/
.education-container{
    margin-top: 40px;

}

.education-titel {
    font-weight: 700;
    font-size: 22px;
    line-height: 123%;
    color: #000;
    margin-bottom: 8px;
}

.education-institute {
font-weight: 700;
font-size: 16px;
color: #6d9bf5;
margin-top: 0px;
margin-bottom: 8px;
}

.education-institute-profession {
font-weight: 700;
font-size: 14px;
color: #000;
margin-top: 0px;
margin-bottom: 8px;
}


